.topic {
    height: 410px;
    width: calc(100% / 2);

    &__title,
    &__date,
    &__text {
        color: #ffffff;
    }

    &__title {
        font-size: 36px;
    }

    &__date,
    &__text {
        font-size: 18px;
    }

    &:hover {
        background-color: #000000;
    }
}
