.topic {
    height: 410px;
    width: calc(100% / 2);
    box-sizing: border-box;;

    &:nth-child(n+2) {
        padding: 0 250px 0 200px;
    }
    
    &:nth-child(2n-1) {
        padding: 0 50px 0 380px;
    }

    &__title,
    &__date,
    &__text {
        color: #ffffff;
    }

    &__title {
        position: relative;
        margin: 50px 0 0 0;
        font-size: 36px;

        &:before {
            position: absolute;
            right: calc(100% + 52px);
            top: 5px;
            display: block;
            content: "";
            height: 93px;
            width: 93px;
            background-color: #ffffff;
            border-radius: 100%;
        }
    }

    &__date,
    &__text {
        font-size: 18px;
    }

    &:hover {
        background-color: #000000;
    }
}
