.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 880px;
    background-color: #111113;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: calc(100% - 500px);
    }

    &__logo {
    }
}
