.news {
    display: flex;
    flex-wrap: wrap;
    height: 1348px;
    width: calc(100% - 200px);
    margin: 0 auto;
    background-color: #f62335;

    &__title {
        width: 100%;
        margin: 0;
        color:#ffffff;
        font-size: 100px;
    }
}
