.news {
    position: relative;
    height: 1348px;
    margin: 0 100px;
    background-color: #f62335;

    &__title {
        position: relative;
        display: inline-block;
        max-width: 25%;
        margin: 80px 0px 72px 140px;
        color:#ffffff;
        font-size: 100px;
        line-height: 1.1em;

        &:after {
            right: 40px;
            bottom: 40px;
            height: 14px;
            width: 85px;
            background-color: #ffffff;

            //mixins
            .dash();
        }
    }
    &__image {
        position: absolute;
        width: 150%;
        left: 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-image: url(../assets/interface/web_2.png);
        background-repeat: no-repeat;
        background-position: 133% -30%;
        opacity: .3;
        overflow: hidden;
    }

    &__wrapper {
        font-size: 0;
    }
}
