.news {
    height: 1348px;
    width: calc(100% - 200px);
    margin: 0 auto;
    background-color: #f62335;

    &__title {
        display: inline-block;
        max-width: 25%;
        margin: 60px 0px 20px 130px;
        color:#ffffff;
        font-size: 100px;
    }

    &__wrapper {
        position: absolute;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
