.sitemap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 210px;
    width: calc(100% - 500px);
    padding: 90px 0;

    &__item {
        width: 25%;
        margin: 15px 0;
        color: #a5a5a5;
        font-size: 18px;

        //mixins
        .link()
    }
}
